:root {
    --primary: #f09024;
    --secondary: #d74525;
    --tertiary: #f3b624;
    --primary-light: rgba(240, 144, 36, 0.5);
    --secondary-light: rgba(215, 69, 37, 0.5);
    --tertiary-light: rgba(243, 182, 36, 0.5);
    --white: #ffffff;
    --black: #000000;
    --timeline-gray: #c5c3cb;
}